
# Zip files
All_Beauty.json.gz

# General
notes.txt
general_testing.py
expand_contractions_TEST.py
spell_check_test.py

# Data files
data/All_Beauty.json
data/output/new.csv
data/output/test2.csv
data/output/test3.csv
